# NPM package files
node_modules/
package-lock.json

# Angular build output
dist/
.angular/cache/

# Environment files
src/environments/*.ts

# Logs and temp files
*.log
.temp/
*.tmp
.idea/
.vscode/
.DS_Store

# Mac and Windows system files
Thumbs.db
.DS_Store
