#imagem-fundo {
  background-image: url("https://lh5.googleusercontent.com/ArA42c_ohXPNj8B-jw81LZNWXNFPQQze_FQbRAMGB_psQPbjIVqLfSyi8Y7HSJykQGv6Zypwsv6cbpcZbvvax48RcIdgzCMjhgms7RFTtkk7qOswMtvo9f_obEhRVMiCoQ=w3997");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}